# --- Environments ---
.venv/
dbt_env/
__pycache__/
pyvenv.cfg
.env

# --- System ---
.DS_Store

# --- dbt Artifacts ---
fintech_audit/target/
fintech_audit/dbt_packages/
fintech_audit/logs/
logs/
target/
dbt_modules/
*.user.yml
.user.yml

# --- Databases ---
*.duckdb
**/*.duckdb

# --- Heavy Data Files

fintech_audit/seeds/*.csv


.env

.uv/