
services:
  ingestion:
    build: .
    container_name: fintech_ingestion
    volumes:
      - .:/app
    command: python fintech_audit.py

  dbt_transform:
    build: .
    container_name: fintech_dbt
    volumes:
      - .:/app
    depends_on:
      ingestion:
        condition: service_completed_successfully
    command: >
      bash -c "dbt build --project-dir fintech_audit --profiles-dir fintech_audit"